<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="" method="post">
      <label>
        Email: <input name="email" required type="email" />
      </label>
      <br/>
      <label>
        Password: <input name="password" required type="password" />
      </label>
      <br/>
      <button>Signup</button>
    </form>
  </body>
</html>
